.button {
  color: black;
  padding: 20px;
  width: 200px;
  border: black 2px;
  background-color: red;
  font-weight: 600px;
}

.input {
  border-color: black;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}